/* generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.btn{
    border: none;
    border-radius: 5%;
    background-color: #0061ff;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 20px;
    cursor: pointer;
}

.btn:hover{
    background-color: #044ab9;
}

.btn-bianco{
    border: 1px solid black;
    background-color: #fff;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
}

.btn-bianco:hover{
    background-color: rgb(233, 233, 233);
}
/* header + nav */
header{
    width: 100%;
    height: 80px;
    background-color: white;
}

.cont-nav{
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: #fff;
    border-bottom: 1px solid lightgray;
    z-index: 10;
}

nav{
    width: 95%;
    height: 100%;
    margin: 0 auto;
}

.logo{
    float: left;
    line-height: 90px;
    vertical-align: middle;
    margin-right: 20px;
}

nav ul{
    display: inline-block;
}

#menu-sinistra li,
#menu-destra li{
    display: inline-block;
    line-height: 78px;
    font-size: 17px;
    font-weight: 500;
    margin: 0 20px;
}

nav #menu-destra li:last-child:hover{
    border-bottom: none;
}

nav ul li:hover{
    border-bottom: 1px solid black;
}


/* dropdown menu */
.dropdown{
    position: relative;
    display: inline-block;
  }

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    display: block;
    line-height: 50px;
}

.dropdown-content a:hover{background-color: #ddd;}

.dropdown:hover .dropdown-content{display: block;}

/* fine dropdown menu */

#menu-sinistra{
    float: left;
}

#menu-destra{
    float: right;
}

/* jumbotron */
.jumbotron{
    margin-bottom: 170px;
}

.jumbo-back{
    width: 100%;
    height: 800px;
    position: relative;
    padding: 80px 0 0 0;
    background-color: #b4d0e7;
}

.jumbo-row{
    width: 84%;
    margin: 0 auto;
}

.jumbotron h1{
    width: 100%;
    padding: 10px 10px;
    font-size: 95px;
}

.jumbo-row-left{
    width: 35%;
    float: left;
    padding-left: 10px;
}

.jumbo-row-left p{
    padding: 10px 0px;
    font-size: 25px;
    line-height: 1.4em;
}

.jumbo-row-left .btn{
    margin: 20px 0px;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 25px;
}

.jumbo-row-left span{
    display: block;
    cursor: pointer;
}

.jumbo-row-left span:hover{
    text-decoration: underline;
}

.jumbo-row-left .fa-arrow-down{
    margin-top: 50px;
    font-size: 40px;
}

.jumbo-row-right{
    max-width: 550px;
    position: absolute;
    right: 30%;
}

.jumbo-row-right img{
    padding-top: 10px;
    height: 550px;
}

/* main */

/* section abbonamenti*/
.abbonamenti{
    width: 70%;
    margin: 0 auto;
}

.abbonamenti h2{
    font-size: 45px;
    font-weight: bold;
    padding-bottom: 50px;
}

.abbonamenti .cont-fatturazione span:last-child{
    margin-left: 20px;
}

.cont-fatturazione{
    margin-bottom: 40px;
}

.checked i{
    color: white;
    border: 5px solid #0061ff;
    border-radius: 50%;
    font-size: 10px;
    line-height: 10px;
    vertical-align: top;
    cursor: pointer;
}

.not-checked i{
    color: white;
    border: 2px solid #d9d9db;
    border-radius: 50%;
    font-size: 15px;
    cursor: pointer;
}

/* liste abbonamenti */

.lista{
    width: calc((100% / 3) - 54px);
    height: 950px;
    float: left;
    border: 1px solid lightgray;
}

.abbonamenti .lista:nth-of-type(3){
    margin: 0 80px;
}

.lista-titolo{
    border-bottom: 1px solid lightgray;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin-bottom: 20px;
}

.lista span:not(.funzioni, .archivio){
    display: block;
    margin-bottom: 30px;
}

.cont-lista{
    width: 85%;
    margin: 0 auto;
}

.cont-lista h3{
     font-size: 30px;
}

.cont-lista .prezzo{
    font-weight: 700;
    margin: 10px 0;
}

.cont-lista .durata{
    color: #778591;
}

.archivio{
    width: 80%;
    display: inline-block;
}

.fa-pencil-alt,
.fa-smile,
.fa-folder{
    vertical-align: top;
}

.funzioni{
    width: 80%;
    display: inline-block;
}


.lista .btn{
    width: 100%;
}

.cont-lista .acquista-ora{
    margin-top: 30px;
}

.cont-lista .acquista-ora a{
    color: #0564ff;
    text-decoration: underline;
}

.cont-lista .acquista-ora a:hover{
    color: #004cc5;
}

.cont-lista hr{
    width: 20%;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid gray;
}

.cont-lista h4{
    font-size: 18px;
    margin-bottom: 20px;
}

.cont-lista .fa-check{
    color: #0061ff;
}

.fa-check{
    vertical-align: top;
}

.invia-file{
    width: 80%;
    display: inline-block;
}

/* lista lunga */
.lista-lunga{
    width: 70%;
    margin: 0 auto;
    margin-top: 80px;
    border: 1px solid lightgray;
}

.lista-lunga .cont-lista{
    width: 95%;
}

.lista-lunga .cont-lista .cont-titolo{
    margin-bottom: 10px;
}

.lista-lunga .cont-lista .cont-titolo h3{
    float: left;
}

.lista-lunga .cont-lista .cont-titolo .btn{
    float: right;
    padding: 10px 60px;
}

.lista-lunga .cont-lista span{
    font-size: 20px;
    font-weight: 600;
}

.lista-lunga .cont-lista p{
    margin: 30px 0 20px 0;
}

/* section contatto partner */
.contenitore-partner{
    width: 70%;
    margin: 150px auto 120px;
}

.contenitore-partner img{
    height: 500px;
    float: left;
}

.contenitore-partner div{
    float: right;
    width: 40%;
    margin: 100px 30px 0 0;
}

.contenitore-partner h3{
    font-size: 30px;
    margin-bottom: 25px;
}

.contenitore-partner p{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 25px;
}

/* section dropbox business */
.business{
    width: 70%;
    margin: 0 auto 170px;
}

.business h2{
    font-size: 45px;
    font-weight: 600;
}

.business .container-business{
    width: calc(100% / 3 - 37px);
    display: inline-block;
    margin: 50px 0;
}

.business .container-business:nth-of-type(2),
.business .container-business:nth-of-type(5){
    margin: 0 50px;
}

.business .container-business h4{
    font-size: 30px;
}

.business .container-business p{
    width: 90%;
    font-size: 18px;
    margin-top: 25px;
    letter-spacing: 1px;
}

.business .container-business:nth-of-type(1) p a{
    text-decoration: underline;
}

.business .container-business img{
    width: 100%;
    margin: auto;
}

/* section 500k team dropbox */
.team-titolo{
    width: 70%;
    margin: 0 auto;
}

.team-titolo h2{
    width: 47%;
    font-size: 45px;
}

.team-titolo a{
    display: inline-block;
    margin: 40px 0 50px 0;
    color: #0061ff;
    font-size: 17px;
    font-weight: 500;
    text-decoration: underline;
}

.team-titolo a:hover{
    color: #004cc5;;
}

.cont-quadrati{
    width: 30%;
    float: left;
}


.cont-quadrati .quadrato{
    width: calc(100% / 2);
    height: 250px;
    float: left;
    position: relative;
}

.team .cont-quadrati .quadrato img{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);
}

.cont-quadrati.centrale{
    width: 40%;
    height: 500px;
    background-color: #f5f5f5;
}

.cont-quadrati.centrale div{
    width: 90%;
    margin: 50px auto;
}

.cont-quadrati.centrale img{
    height: 50px;
}

.cont-quadrati.centrale hr{
    width: 10%;
    margin: 30px 0;
    border: none;
    border-bottom: 1px solid gray;
}

.cont-quadrati.centrale p{
    width: 90%;
    font-size: 17px;
    line-height: 25px;
    margin-bottom: 50px;
}

.cont-quadrati.centrale span{
    font-size: 17px;
}

/* quadrati singoli */
#designit{
    background-color: #a2d39b;
    border: 10px solid #d0e9cd;
}

#asu{
    background-color: #61082b;
}

#uf{
    background-color: #0093ce;
}

#topps{
    background-color: #ff1c1c;
}

#wbr{
    background-color: #d5001f;
}

#hearst{
    background-color: #b4d0e7;
}

#lonely{
    background-color: #0d2481;
}

#clearchannel{
    background-color: #ffd830;
}


/* dropbox in azienda */
.main-azienda{
    width: 100%;
    height: 400px;
    position: relative;
    background-color: #b4d0e7;
}

.cont-azienda{
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 30px;
    margin: 0 auto;
}

.cont-azienda h2{
    width: 40%;
    color: #61082b;
    font-size: 40px;
    font-weight: bold;
    float: left;
}

.cont-azienda .btn-bianco{
    padding: 10px 50px;
    border: none;
    float: right;
}

/* section domande frequenti */
.domande{
    margin: 100px 0;
}

.cont-domande{
    width: 70%;
    margin: 0 auto;
}

.cont-domande h2{
    font-size: 40px;
    margin-bottom: 35px;
}

.cont-domande .domanda{
    width: 100%;
    padding: 35px 0;
    border-bottom: 1px solid lightgray;
}

.cont-domande .domanda:first-of-type{
    border-top: 1px solid lightgray;
}

.cont-domande .domanda span{
    font-size: 18px;
    font-weight: 600;
}

.cont-domande .domanda i{
    float: right;
    margin-right: 60px;
}

.cont-domande .testohover{
    display: none;
    width: 80%;
    padding: 10px 10px;
    font-weight: 500;
    color: gray;
}

/* testo faq appare su hover */
.cont-domande .domanda:hover .testohover{
    display: block;
}

/* footer */
footer{
    height: 500px;
    margin-top: 150px;
    padding-top: 100px;
    background-color: #000;
}
footer a{color: white;}

.cont-footer{
    width: 75%;
    margin: 0 auto;
}

.lista-footer {
    color: white;
}

.col-lista{
    float: left;
    margin-right: 120px;
    list-style: none;
}

.col-lista ul{
    margin-top: 20px;
    list-style: none;
}

.lista-footer ul li{
    margin-bottom: 10px;
}

.lista-footer ul li a:hover{
    text-decoration: underline;
}

footer hr{
    width: 7%;
    margin-top: 100px;
    margin-bottom: 40px;
    border: none;
    border-bottom: 1px solid lightgray
}

footer span{
    color: gray;
}